<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>

    <form id="formSignup">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Enter email address" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">signup</button>
    </form>

    <br>

    <a href="/login">Go to login</a>
    
    <script>

        const form = document.getElementById('formSignup');
        form.addEventListener('submit', async (e)=>{
            e.preventDefault();

            const email = document.getElementById('email').value
            const password = document.getElementById('password').value

            const jsonBody = {
                email : email,
                password: password
            }
            try{
                const response = await fetch('/signup', {
                    method:'POST',
                    headers: {
                        "Content-type": "application/json"
                    },
                    body: JSON.stringify(jsonBody)
                })

                const data = await response.json();

                if(data.status=='error'){
                    throw new Error(data.message);
                }

                else if(data.status=='success'){
                    alert('You have signed up successfully')
                    window.location.href = '/';
                }

            }
            catch(error){
                console.error(error);
                alert(error);
            }

        })


    </script>

</body>
</html>